@import url('https://fonts.googleapis.com/css?family=Roboto');

.DiscordInvite {
  color: white;
  background: rgba(47,49,54,.9);
  width: 400px;
  border: solid 1px rgba(47,49,54,1);
  padding: 10px 12px 10px 10px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
}
.DiscordInvite-Content {
  display: flex;
  margin-top: 5px;
}
.DiscordInvite-Message {
  padding-bottom: 5px;
  font-size: .75em;
  font-weight: bold;
}
.DiscordInvite-Info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
}
.DiscordInvite-Name {
  font-weight: bold;
  vertical-align: top;
  font-size: large;
  text-decoration: none;
}
.DiscordInvite-Name a {
  color: white;
}
.DiscordInvite-Name:hover {
  text-decoration: underline;
}
.DiscordInvite-Icon {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 15px;
}
.DiscordInvite-Icon, .DiscordInvite-Name:hover {
  cursor: pointer;
}
.DiscordInvite-Online-Members {
  display: flex;
  width: 225px;
  justify-content: space-between;
  color: lightgrey;
}
.DiscordInvite-Button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  flex-basis: 60px;
  margin-left: auto;
  text-align: center;
  display: block;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: border-color .17s ease;
  border-radius: 3px;
  color:white;
}
.DiscordInvite-Button:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.DiscordInvite-MembersCircle{
  background: grey;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transform: translateY(50%);
  margin-right: 3px;
  display: inline-block;
  border: 1px solid #999999;
}
.DiscordInvite-OnlineCircle {
  background: #43b581;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transform: translateY(50%);
  margin-right: 3px;
  display: inline-block;
  border: 1px solid #999999;
}
.DiscordInvite-Online, .DiscordInvite-Members {
  font-size: small;
}
.DiscordInvite-Members {
  margin-right: 30px;
}
a:visited {
  color: white;
}
a {
  text-decoration: none;
}